<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./Tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./Tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>